body {
    margin: 0;
    width: 550px;
    height: 550px;
    background-color: #1F2937;
}

/* Heading */
#heading {
    position: absolute;
    width: 354px;
    height: 80px;
    left: 52px;
    top: 115px;

    font-family: 'Karla';
    font-style: normal;
    font-weight: 800;
    font-size: 40px;
    line-height: 40px;
    letter-spacing: -0.025em;

    color: #FFFFFF;
}

#heading_highlighted_main {
    margin-top: -40px;
    margin-bottom: -5px;
    color: #4ADF86;
}


/* Supporting text */
#heading_subtitle {
    width: 372px;
    height: 28px;
    left: 52px;
    top: 205px;

    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 28px;

    /* Medium grey */
    color: #D5D4D8;
}


#generate_boxes {
    position: absolute;
    width: 591px;
    height: 42px;
    left: -100px;
    top: 284px;
    margin-top: 40px;
    gap: 60px;
    
    display: flex;
    flex-direction: row;
    justify-content: center;
}

/* Button */
#btn_generate {
    background: #10B981;
    /* shadow/sm */
    box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.05);
    border-radius: 6px;
    border: 0;
    margin-right: -50px;
    
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 17px;
    line-height: 24px;
    color: #FFFFFF;
}


input[type=number] {
    width: 50px;
    height: 42px;
    padding: 4px 3px;
    box-sizing: border-box;
}

#btn_generate_digits {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 17px;
    line-height: 24px;
    color: #FFFFFF;
    align-self: center;
    margin-left: -54px;
}


/* hbar */
#hbar {
    position: relative;
    width: 446px;
    height: 0px;
    left: 52px;
    top: 361px;
    margin-top: 30px;

    border: 1px solid #2F3E53;
}

#password_boxes {
    position: absolute;
    display: flex;
    flex-direction: row;
}

/* Rectangle 1 */
#password_box_one {
    position: absolute;
    width: 211px;
    height: 39px;
    left: 52px;
    top: 396px;

    background: #273549;
    border-radius: 6px;
    
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 38px;
    /* identical to box height, or 200% */
    text-align: center;

    color: #55F991;
}


#password_box_one_txt {
    width: 211px;
    height: 24px;
    left: 52px;
    top: 396px;

    background: #273549;
    border-radius: 6px;
    
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 10px;
    /* identical to box height, or 200% */
    text-align: center;

    color: #55F991;
}


/* Rectangle 2 */
#password_box_two {
    position: absolute;
    width: 211px;
    height: 39px;
    left: 287px;
    top: 396px;

    background: #273549;
    border-radius: 6px;
    
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 38px;
    /* identical to box height, or 200% */
    text-align: center;

    color: #55F991;
}

#password_box_two_txt {
    width: 211px;
    height: 24px;
    left: 287px;
    top: 396px;

    background: #273549;
    border-radius: 6px;
    
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 10px;
    /* identical to box height, or 200% */
    text-align: center;

    color: #55F991;
}





